* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(img/bg2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */
nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 0;
  margin-top: 20px ;
  padding: 30px;
  justify-content: space-around;
  color: #fff;
  align-items: center;
  background-image: url(img/nav.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  
}

nav .logo {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  letter-spacing: 3px;
  z-index: -1;
}
nav ul {
  display: flex;
  list-style: none;
  width: 60%;
  justify-content: space-between;
  padding: 10px;
}

nav ul li a {
  color: rgb(50, 40, 56);
  text-decoration: none;
  font-size: 0.8em;
  background: rgb(214, 160, 217);
  padding: 10px;
  border-radius: 30px;
}

nav ul li a:hover {
  color: rgb(50, 40, 56);
}

/* Hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

/* Hamburger animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: rgb(214, 160, 217);
  transform: rotate(45deg) translate(-1px, -1px);
  padding-top: 3px;
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: rgb(214, 160, 217);
  transform: rotate(-45deg) translate(-1px, 0);
  padding-top: 3px;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Hero */
.hero {
  height: 50vh;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: -50px;
}

.hero-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin: 20px 0;
  color: rgb(60, 48, 78);
}

.hero-text h2 span {
  color: rgb(244, 163, 177);
  text-shadow: 2px 1px 12px white;
  font-style: italic;
}

.hero-text p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 30px;
}

.hero-text a {
  padding: 10px 15px;
  background: rgb(192, 105, 121);
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
}

/* About */
.about {
  padding: 50px;
}
.about-card {
  background: rgb(245, 185, 219);
  border-radius: 40px;
  padding: 30px;
}

.about-text h3 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: rgb(60, 48, 78);
  text-align: center;
}

.about-text em {
  color: rgb(147, 85, 137);
}

.about-text p {
  margin-top: 20px;
  font-size: 15px;
  text-align: justify;
}

/* Skill */
.kiri {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: flex-start;
}

.kiri .luar {
  background: rgb(202, 161, 221);
  border-radius: 40px;
  padding: 40px;
  color: #fff;
}

.luar h2 {
  margin-bottom: 20px;
}

.skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.skills span {
  background: #a9c0e2;
  color: rgb(60, 48, 78);
  padding: 8px 14px;
  border-radius: 15px;
  font-weight: 600;
}

.isi {
  display: grid;
  gap: 30px;
}

h3 {
  margin-bottom: 10px;
}

/* kanan */
.kanan {
  margin-left: 50px;
}

.foto {
  position: relative;
  background-image: url(img/emm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  border-radius: 25px;
  padding: 20px;
  z-index: -1;
}


.kata-kata {
  max-width: 400px;
  line-height: 1.6;
  margin-top: 10px;
}

/* Education */
.education {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.edu-bg {
  width: 50%;
  background: rgb(166, 182, 228);
  padding: 30px;
  border-radius: 40px;
}

.isi-edu h2 {
  font-size: 18px;
  margin-bottom: 12px;
}

.isi-edu p {
  font-size: 14px;
  line-height: 1.6;
}

.isi-edu b {
  font-weight: 600;
}

/* Gallery */
.gallery {
  color: white;
  padding: 50px;
  text-align: center;
}

.gallery-bg {
  background: rgb(106, 113, 171);
  padding: 30px;
  border-radius: 40px;
}

.gallery h2 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
}

.photo {
  max-width: 100%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.thumbnail {
  width: 200px;
  height: 250px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.img-1 {
  background-image: url(img/aku.jpeg);
  transition: all 0.2s;
}
.img-2 {
  background-image: url(img/ft2.jpg);
  transition: all 0.2s;
}
.img-3 {
  background-image: url(img/ft4.jpeg);
  transition: all 0.2s;
}

.img-1:hover {
  transform: scale(1.1);
}
.img-2:hover {
  transform: scale(1.1);
}
.img-3:hover {
  transform: scale(1.1);
}

.caption {
  font-size: 14px;
  margin-bottom: -50px;
}

/* Contact */
.contact {
  display: flex;
  padding: 50px;
  justify-content: center;
}

.ct-bg {
  width: 50%;
  background: rgb(228, 197, 238);
  padding: 50px;
  border-radius: 40px;
}

.contact h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.ct-form {
  max-width: 500px;
  margin: auto;
  text-align: left;
}

.ct-form label {
  display: block;
  margin: 15px 0 5px;
  font-weight: 500;
}

.ct-form input,
.ct-form textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid #ddd;
  background: transparent;
  outline: none;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.ct-form button {
  font-family: 'Poppins', sans-serif;
  margin-top: 25px;
  padding: 10px 25px;
  background: #a9c0e2;
  color: rgb(47, 3, 41);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form button:hover {
  background: rgb(194, 154, 225);
}

/* Responsive */

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }

  .about-text {
    text-align: center;
  }
  
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/bg2.jpeg);
    transform: translateX(100%);
    transition: all 1s;
    z-index: -2;
    opacity: 0;
  }

  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }

  .foto {
    position: fixed;
  }

  .thumbnail {
    width: 250px;
    height: 400px;
  }
}
@media (min-width: 600px) {
  .thumbnail {
    width: 25%;
  }
}
